<h1>About Me</h1>
<p>My name is <%= link_to "Joshua Offer", "https://twitter.com/JoshuaOffer"%></p>
<p>This is my first ever crack at buiding something for the interwebz. Try not to laugh at it. I plan on being pretty brilliant at this soon.<p>
<p>Wish Me Luck <%= link_to "Here!", "https://twitter.com/JoshuaOffer"%><p>